// Grid Body
%grid_2x3{
    display: grid;
    grid-template: {
        columns: 1fr 1fr;
        rows:1fr 50% auto;
    };
}
// Grid navegador y boton
%grid_1x2{
    display: grid;
    grid-template: {
        columns: 30% 1fr 5%;
        rows:1fr 1fr 0.3fr;
    };
}
