section.izquierda
        h1.izquierda__titulo Sofa
        p.izquierda__parrafo Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam erat eu dictum adipiscing odio urna molestie donec mattis. Semper nec egestas bibendum accumsan, ac tincidunt leo. Consectetur ultrices consectetur eu feugiat nisl, lectus. Nulla ut viverra et facilisis morbi ut eget sit facilisis. A, at lorem egestas augue. 