// Tipografía

$font-family: Arial,sans-serif; // Todo el proyecto

// Tamaños tipográficos
$font-size-base: 16px; // Base
$font-size-titulo: convertir(130);
$font-size-parrafo: convertir(16);
$font-size-boton: convertir(24);

// Colores
$color-fondoIzq: #ADC6D4;
$color-fondoDer: #4A92BA; 
$color-blanco: #ffff;


